/* styles.css */

/* ... Other CSS rules ... */

/* Additional styles for the success page */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .container p {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
  }
  
  /* Styling for the buttons */
  .success-options {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Dark mode styles for the success page */
  .dark-mode .container {
    background-color: #2b2b2b;
  }
  
  .dark-mode .container h1 {
    color: #fff;
  }
  
  .dark-mode .container p {
    color: #ddd;
  }
  
  .dark-mode .btn {
    border: 1px solid #ddd;
    color: #ddd;
  }
  
  .dark-mode .btn:hover {
    background-color: #ddd;
    color: #2b2b2b;
  }
  