{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Resume Submitted Successfully</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <div class="container">
        <h1>Resume Submitted Successfully!</h1>
        <p>Thank you for submitting your resume. Your application is under review.</p>
        <div class="success-options">
            <a href="{% url 'resume_form' %}" class="btn">Back to Form</a>
            <a href="{% url 'home' %}" class="btn">Go to Homepage</a>
        </div>
    </div>
</body>
</html>
