<!-- templates/education.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
</head>
<body>
    <h1>Education</h1>
    <ul>
        {% for education in educations %}
        <li>{{ education.degree }} in {{ education.major }} - {{ education.institution }} ({{ education.start_date|date:"Y" }} - {{ education.end_date|date:"Y" }})</li>
        {% endfor %}
    </ul>
</body>
</html>
