<!-- templates/experience.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Experience</title>
</head>
<body>
    <h1>Experience</h1>
    <ul>
        {% for experience in experiences %}
        <li>
            <strong>{{ experience.title }} - {{ experience.company }}</strong>
            <p>{{ experience.description }}</p>
            <p>{{ experience.start_date|date:"F Y" }} - {{ experience.end_date|date:"F Y" }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
